body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}
@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}
#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

.MainHeader {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.MainHeaderText {
  font-size: 25px;
}

.mapcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.map {
  width: 100%;
  height: 300px;
}
.map-direct-btn {
  display: flex;
  justify-content: space-between;
}

.map-direct-btn-kakao {
  width: 33%;
  height: 50%;
  padding-top: 10px;
}
.map-direct-btn-kakao button {
  width: 100%;
  background-color: white;
  border: 1px solid #f6f6f6;
  border-radius: 10px;
  padding: 0px;
}
.map-direct-btn-kakao img {
  width: 70%;
  height: 20%;
}

.MainContent-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.MainContent-Place {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.PlaceText {
  padding-left: 20px;
}

.MainContent-Date {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.PlaceDateText {
  padding-left: 20px;
}
.MainContent-Time {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.PlaceDateTime {
  padding-left: 20px;
}

.PictureFrame {
  display: flex;
  justify-content: center;
  width: 70%;
  align-items: center;
  height: auto;
}
.MainFooter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* .PictureList {
  width: 100%;
  height: 100vh;
  display: flex;
} */

/* .PictureList img {
  border: 3px solid black;
  width: 100%;
} */
/* CommentList */

.CommentList {
  width: 100%;
  min-height: 100vh;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  border-radius: 10px;
}

.Commnet-Input-MainInputArea {
  background-color: #ececec;
  border-radius: 10px;
}
.Comment textarea {
  font-family: "Nanum Pen Script";
  font-size: 20px;

  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  resize: vertical;
  /* 가로 늘어나게 하는거 방지 */

  border: none;

  background-color: #ececec;
  padding: 20px;
}

.Comment-Input-Area {
  display: flex;
  justify-content: space-between;
}

.Comment-Input-Area-NameArea {
  display: flex;
  height: 30px;
  align-items: center;
}
.Comment-Input-Area-Value {
  margin-left: 10px;
}

.Commnet-Input-MainNameArea {
  border-top: 1px solid black;
}
